<h1>Collections</h1>

<% if current_user %>
<ul>
	<li><%= link_to "Owned", '#' %></li>
	<li><%= link_to "Wish List", '#' %></li>
	<li><%= link_to "Pull List", '#' %></li>
	
		<%= form_for @collection do |f| %>
			<%= f.text_field :name %><br />
			<%= f.submit %>
		<% end %>
		<% else %>
		<p><%= link_to "Login", login_path %> or <%= link_to "Sign up", signup_path %> to add Collections</p>
	<% end %>

	

</ul>