<h1>Collections</h1>

<ul>
	<li><%= link_to "Owned", '#' %></li>
	<li><%= link_to "Wish List", '#' %></li>
	<li><%= link_to "Pull List", '#' %></li>
	<%= form_for @collection do |f| %>
		<%= f.text_field :name %><br />
		<%= f.submit %>
	<% end %>
</ul>