<h1>Log In</h1>

<%= form_tage sessions_path do %>
	<%= label_tag :email %>
	<%= text_field_tage :email, params[:email] %>

	<%= label_tag :password %>
	<%= password_field_tage :password %>

	<%= check_box_tage :remember_me, 1, params[:remember_me] %>
	<%= label_tage :remember_me %>

	<%= submit_tag "Log in" %>

<% end %>
