<% provide(:title, 'Home') %>
<% if current_user %>
	<div class="container">
		<div class="span12">
			<%= image_tag("image1.jpg", :size => "200x180", :crop => :fill) %>
			<%= image_tag("image2.jpg", :size => "200x180", :crop => :fill) %>
			<%= image_tag("image3.jpg", :size => "200x180", :crop => :fill) %>
			<%= image_tag("image4.jpg", :size => "200x180", :crop => :fill) %>
		</div>
	</div>

<% else %>

	<div class="center hero-unit">
		<h1 id="comicred">Comic<span id="datab">Data</span><span id="dbox">Box</span></h1>
		<h2>Your online resource for your growing comicbook collection</h2>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
<% end %>