<h1>New Books</h1>

	<%= form_for @book do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :author %>
	<%= f.text_field :author %>
	<div>
		<%= f.submit "Add Comic" %>
	</div>
	<% end %>