<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">	
				<%= link_to "Comic Databox", root_url, id: "logo" %>
				<nav>
					<ul class="nav pull-right">
						<form class="navbar-search pull-left">
          		<input type="text" class="search-query" id="search" autocomplete="off" placeholder="Search"></input>
        		</form>

						<li class="<%= 'active' if current_page? collections_path or @show_path %>"><%= link_to "My Collections", collections_path %></li>
						
						<% if current_user %>
							<li class="<%= 'active' if current_page? user_path(:id) %>"><%= link_to current_user.email, user_path(:id) %></li>
							<li><%= link_to "Logout", logout_path %></li>
						<% else %>
						
							<li><%= link_to "Sign in", login_path %></li>
						<% end %>

					</ul>
				</nav>
			</div>
		</div>
	</header>